                                    /*start upper bar */
.upper-bar {background-color: #08526d; color: white; padding: 10px;}
.upper-bar span {color:#bfc6c9;}
.upper-bar .get-quote {
    display: inline-block;
    border: 1px solid #ec1d24;
    padding: 2px 10px;
    margin-left: 20px;
    color:#bfc6c9;   
}
.upper-bar .get-quote:hover {background-color: #ec1d24;text-decoration: none;}
.upper-bar .get-quote button {background-color: none;opacity: 0.9;}
                                     /*end upper bar */
                                     /*start Navbar */
.navbar-brand > span { font-size: 40px;}
.navbar-brand span:first-child {color: #08526d;font-weight: bold;}
.navbar-brand span:nth-child(2) {color: #ec1d24;}
.navbar-nav .nav-link {
    font-size: 16px;
    text-transform: uppercase;
    margin-left: 20px;
    font-weight: 500;
    color: #08526d !important;
}
.navbar-nav .active>.nav-link {color:#ec1d24 !important ;}
                                    /*end Navbar */
                                   /*start slider*/
.slider {background-color: #ddd;height: 100vh;}
.slider .carousel-inner { display: flex;align-items: center; justify-content: left;}
.slider .carousel-inner h1 {
    position: absolute;
    left: 100px;
    color:white;
    z-index: 3;
    font-size: 65px;
    max-width: 800px;
    line-height: 1.5;
}
.slider .carousel-inner h1 span {background-color: #ec1d24 ;padding: 2px ;display: inline-block;}
.slider .carousel-inner .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    left:0;
    top:0;
    background-color:rgba(0, 0, 0, .6) ;
    z-index: 2;
}
.slider .carousel-item {background-size: cover;}
.slider .carousel-one {background-image: url('../img/03.jpg');}
.slider .carousel-two {background-image: url('../img/02.jpg');}
.slider .carousel-three {background-image: url('../img/01.jpg');}
.slider .carousel-indicators li {height: 8px;cursor: pointer;}
                                /*end slider*/
                                /*start features*/
.features {padding: 50px 0;}
.features i {
    background-color:#ec1d24 ;
    color: white;
    padding: 12px;
    margin-bottom: 10px;
}
.features h3 {font-size: 22px;color:#08526d;}
.features p{color:#bfc6c9;margin-bottom: 40px;}
                               /*end features*/
                               /*start overview*/
.overview {background-color:#bfc6c9 ; padding: 100px;}
.overview h2 {
    font-weight: bold;
    font-size: 60px;
    margin-bottom: 50px;
    text-transform: uppercase;
}
.overview p {
    font-size: 20px;
    margin:0 300px 50px;
    line-height: 1.8;
    width: 60%;
    margin: 0 auto 40px;
    color:grey ;
}
.overview h4 {
    margin: 0 auto 40px;
    letter-spacing: 2;
    font-weight: normal;
    color:grey ;
}
.overview button {
    text-transform: uppercase;
    background-color:#ec1d24 ;
    font-size: 20px;
    font-weight: bold;
    padding: 10px 30px ;
    border:1px solid #ec1d24;
    color:white;
}
.overview button:hover {
    background-color: #08526d;
    border: 1px solid #08526d;
    transition:all  0.3s ease-in-out;
}
                               /*end overview*/
                               /*start featured work*/
.featured-work h2 { font-weight: bold;font-size: 60px;margin-bottom: 50px;}
.featured-work p {
    font-size: 20px;
    margin:0 300px 50px;
    line-height: 1.6;
    width: 60%;
    margin: 0 auto 40px;
    color:grey ;
}
.featured-work ul li {
    border: 1px solid #08526d ;
    padding: 10px ;
    margin: 10px;
    text-transform: uppercase;
    color:#08526d;
    transition:all  .3s ease-in-out;
    margin-bottom:40px ;   
}
.featured-work ul li.active,
.featured-work ul li:hover{border: 1px solid #ec1d24 ;background-color:#ec1d24 ;color:white;}
.featured-work ul li:hover {cursor: pointer;}
.featured-work .row {flex-wrap: nowrap;}
.featured-work .shuffle-imgs .row .col-lg-3 {padding: 0 ;}
.featured-work .shuffle-imgs .row {margin: 0;}
.featured-work .shuffle-imgs .row img {width:100%;}
                               /*end featured work*/
                               /* start latest post*/
.latest-posts {padding: 50px;}
.latest-posts h2 { font-weight: bold;font-size: 60px;margin-bottom: 50px;}
.latest-posts p {
font-size: 20px;
line-height: 1.6;
margin: 0 auto 20px;
color:grey ;
padding: 10px;
line-height: 1.6;
}
.latest-posts .card a { color:#ec1d24 ;text-decoration: underline;}
.latest-posts .card-subtitle {padding-top: 5px;font-weight: bold;color:#ec1d24 ;}
.latest-posts .card-title {color:#08526d;line-height: 1.5;}
                               /*end latest post*/
                               /* start testmonials*/
.testmonials {background-size: cover;position: relative;}        
.testmonials a {z-index: 5;color: lawngreen;}    
.testmonials a :hover {color: red;}                  
.testmonials .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    left:0;
    top:0;
    background-color:rgba(0, 0, 0, .6) ;
    z-index: 3;
}
.testmonials .carousel-indicators li {height:8px;cursor: pointer;}
.testmonials .carousel-caption {top:140px;}
.testmonials .carousel-caption img { margin-bottom: 20px; }
.testmonials .carousel-caption h5 {margin-bottom: 20px;}
.testmonials .carousel-caption p {margin-top: 30px;}
                               /* end testmonials*/
                               /*start pricing table*/
.pricing-table {padding: 50px;background-color: #f7f7f7;}
.pricing-table h2 { font-weight: bold;font-size: 60px;margin-bottom: 50px;}
.pricing-table p {
    font-size: 20px;
    line-height: 1.6;
    margin: 0 auto 20px;
    color:grey ;
    padding: 10px;
    line-height: 1.6;
}
.pricing-table .table {margin-right: 15px;}
.pricing-table .card {padding:0 ;}
.pricing-table .card-body {padding: 0 ;}
.pricing-table .card .price {
    background-color:honeydew;
    width:100%;
    padding:7px 0;
    margin:20px 0 ;
    font-weight: 700;
    font-size: 40px;
    color:#08526d;
}
.pricing-table .card .price1 {
    background-color:#ec1d24 ;
    width:100%;
    padding:7px 0;
    margin:20px 0 ;
    font-weight: 700;
    font-size: 40px;
    color:#fff;
}
.pricing-table .card .price1 span {font-size: 16px;font-weight: normal;text-transform: uppercase;}
.pricing-table .card .price span {font-size: 16px;font-weight: normal;text-transform: uppercase;}
.pricing-table .card-subtitle {padding-top: 5px;font-weight: bold;color:grey ;padding-bottom: 20px;}
.pricing-table .card ul {padding: 20px 0;}
.pricing-table .card ul li {line-height: 2.5;  }
.pricing-table .card-title {color:#08526d;line-height: 1.5;font-size: 2.5rem;margin-top: 30px;}
.pricing-table button {
text-transform: uppercase;
background-color: #ec1d24;
font-size: 20px;
font-weight: bold;
padding: 10px 30px;
border: 1px solid #ec1d24;
color: white;
margin-bottom: 45px;
}
.pricing-table button:hover {
    background-color: #08526d;
    border: 1px solid #08526d;
    transition:all  0.3s ease-in-out;
}
                               /* end pricing table */
                               /* start choose us*/
.choose-us {position: relative;}
.choose-us .col-6 {padding:0;}
.choose-us .image img {background-size: cover;max-width: 100%;height:740px}
.choose-us .content {background-color: #08526d ;}
.choose-us .content h3 {
    color: #fff;
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 4px;
    margin: 95px 20px 55px 20px;
}
.choose-us .content p {color: #fff;line-height: 1.6;padding:20px 0 30px 20px;margin-left: 20px;}
.choose-us .content button {
    text-transform: uppercase;
    background-color: #ec1d24;
    font-size: 20px;
    font-weight: bold;
    padding: 10px 30px;
    border: 1px solid #ec1d24;
    color: white;
    margin: 30px 0 0 20px;
}
.choose-us .content button:hover {background-color:  #08526d;border:none;}
                               /* end choose us */
                               /*start details*/
.details .col {margin-top:100px;color :#08526d;}
.details .col .counter {font-weight:bold;font-size: 45px;padding-top: 20px;color :#08526d;}
.details .col span {font-size:25px;color: #ec1d24;font-weight:bold;}
                                        /*end details*/
                                        /*start together*/
.together {background-color:#ec1d24 ;padding: 50px 0;margin-top:50px;}
.together p{margin:0;color: white;font-size: 25px;}
.together button {
    text-transform: uppercase;
    background-color:#ec1d24 ;
    font-weight: bold;
    border:2px solid #fff;
    color:white;
    font-size: 19px;
    padding: 15px;
}
.together button:hover {background-color:#08526d ;}
                                            /* end together*/
                                            /* start footer */
.footer {padding: 80px 0 0 0; background-color: #f7f7f7;}
.footer .elite-corp h3{ margin-bottom:35px}
.footer .elite-corp span:first-child {color: #08526d;font-weight: bold;font-size:40px;}
.footer .elite-corp span:last-child {color: #ec1d24;font-size: 40px;font-weight:normal;}
.footer .elite-corp p {margin-bottom: 25px;}
.footer .elite-corp a {text-decoration:none;}
.footer .elite-corp a:before{ font-family:fontawesome; content:"\f138";margin-right: 5px;}
.footer .helpful-links {color:#08526d}
.footer .helpful-links h3 {color:#08526d;padding-bottom: 25px;}
.footer .helpful-links ul li { line-height:2;}
.footer .helpful-links ul li:before {font-family: fontawesome; content: "\f054"; margin-right: 5px;color:grey}
.footer .helpful-links ul li a {text-decoration: none;}
.footer .contact-us {font-size: 18px;color:#08526d;margin-bottom: 15px;}
.footer .contact-us h3 {padding-bottom:25px}
.footer .contact-us i {margin-bottom: 15px;padding-bottom: 15px;}
.end-page {background-color:rgb(23, 25, 26); color:#fff;padding:10px}
.end-page p {margin-left: 100px;margin-bottom:0;}
.end-page a {margin-right: 50px;margin-bottom:0;color:#fff;}

                                            /* end footer */


                                            
                                            